<div id="{{ uid }}">
  <h2>{{ tr.get('Tables module') }}</h2>

  <div class="row">

    <div class="col-xs-6">
      <a class="btn btn-default reload" title="{{ tr.get('reload') }}">
        <i class="icon ion-refresh"></i> {{ tr.get('reload') }}
      </a>
    </div>

    <div class="col-xs-6">
      <a class="upload" href="#" title="{{ tr.get('Add new') }}">
        <i class="icon ion-plus"></i> {{ tr.get('Add new') }}
      </a>
    </div>

  </div>

  <hr>

  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ tr.get('File') }}</th>
        <th>{{ tr.get('Action')}} </th>
      </tr>
    </thead>

    <tbody>
      {% for i, file in files %}
      <tr>
        <th>{{ i }}</th>
        <td>{{ file }}</td>
        <td>
          <button class="btn btn-danger delete">
            <i class="icon ion-trash-a"></i>
            {{ tr.get('Delete') }}
          </button>
          <button class="btn btn-warning confirm" data-file="{{ file }}" style="display: none;">
            <i class="icon ion-trash-a"></i>
            {{ tr.get('Confirm') }}
          </button>
        </td>
      </tr>
      {% else %}
      <tr><td colspan="3">{{ tr.get('No file available yet') }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

  $('#{{ uid }} a.reload').click(function(){
    admin.tabs.reloadThis(this);
    return false;
  });

  $('#{{ uid }} .delete').on('click', function(){
    $(this).next('button.confirm').show();
  });

  $('#{{ uid }} .confirm').on('click', function(){
    var file = $(this).data('file');
    $.get('controller.php?obj=plugins_ctrl&method=run&param[]=table&param[]=delete&param[]=' + file, function(data){
      admin.message(data.text, data.status);
      if (data.status === 'success'){
        admin.tabs.reloadThis('#{{ uid }}');
      }
    }, 'json');

    console.log(file);
  });

  admin.upload(
    $('#{{ uid }} .upload')[0],
    'controller.php?obj=utils&method=upload&param[]={{ upload_dir }}',
    {
      allowedExtensions: ['csv'],
      allLoaded: function(succeddeed, failed){
        admin.tabs.reloadThis('#{{ uid }}');
      }
    });

</script>
